body {
  margin: 0;
  font-family: sans-serif;
}

/* MAIN LAYOUT */
.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.header {
  color: var(--header-fg);
  flex: 0 1 auto;
  align-items: center;
  background-color: var(--header-bg);
  display: flex;
  position: fixed;
  width: 100%;
}
.content {
  flex: 1 1 auto;
  overflow-y: hidden;
  display: flex;
}
.footer {
  flex: 0 1 10px;
  text-align: right;
  color: var(--footer-fg);
  background-color: var(--footer-bg);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-mobile {
  font-size: 3em;
}
.footer a {
  color: var(--footer-fg);
}
.menu {
  flex: 1 1 auto;
  overflow-y: auto;
  width: 30%;
  margin-top: 2em;
}
.right {
  flex: 1 1 auto;
  overflow-y: scroll;
  width: 70%;
}

/* TREE styling */
.ul-tree {
  list-style-type: none;
  padding-left: 0.5em;
}
.ul-tree ul {
  padding-left: 2em;
}
span {
  user-select: none;
}
.button {
  width: 2em;
  font-weight: bold;
}
.menu_item:hover {
  color: var(--hover-fg);
  background-color: var(--hover-bg);
}
.highlighted {
  color: var(--highlighted-fg);
  background-color: var(--highlighted-bg);
}
.main_section {
  font-weight: bold;
}

/* PAGE styling */
h2 {
  margin: 0;
}
.img, .img80 {
  display: block;
  border: 1px solid;
}
.img80 {
  width: 80%;
}

/* MOBILE */
.menu-mobile {
  font-size: 1.5em;
}
.hidden {
  display: none;
}
.content-mobile {
  font-size: 2.5em;
  flex: 1 1;
  margin-top: 3em;
}
.page-mobile {
  margin: 10px;
}
.btn-menu-hidden {
  display: none;
}
.btn-menu-show {
  display: block;
}
